$THEME: antd;
$white: #ffffff;
$black: #000000;

$gray-1: #111111;
$gray-2: #333333;
$gray-3: #666666;
$gray-4: #999999;
$gray-5: #d8d8d8;
$gray-6: #e8e8e8;
$gray-7: #f9f9f9;
$gray-8: #e2e2e2;

$chart-red-color: #e62517;
$chart-yellow-color: #fcbd6a;
$chart-green-color: #36bf8f;

$scrollbar-thumb-color: $gray-5;
$scrollbar-thumb-width: 6px;
$nav-header-bg-color: #2d2f34;
$nav-sider-bg-color: #3d3d43;
$nav-sider-light-bg-color: $white;
$main-color: #4a62e7;
$main-hover-color: #7087ff;
$main-active-color: #5f78ff;
$title-color: $gray-1;
$stress-color: $gray-3;
$text-color: $gray-1;
$content-color: $gray-3;
$placeholder-color: $gray-4;
$subsidiary-color: $gray-3;
$text-description-color: $gray-4;
$required-color: #e60a26;
$default-text-color: $text-color;
$default-text-hover-color: $main-hover-color;
$default-text-click-color: $main-active-color;
$default-text-active-color: $white;
$text-component-color: $main-color;
$text-component-hover-color: $main-hover-color;
$text-component-active-color: $main-active-color;
$link-color: $text-component-color;
$link-hover-color: $text-component-hover-color;
$link-active-color: $text-component-active-color;
$icon-color: $gray-4;
$icon-color-hover: $main-hover-color;
$icon-color-active: $main-active-color;
$icon-component-color: $main-color;
$icon-component-hover-color: $icon-color-hover;
$icon-component-active-color: $icon-color-active;
$border-component-color: $main-color;
$border-component-hover-color: $main-hover-color;
$border-component-active-color: $main-active-color;
$border-color-base: $gray-5;
$border-hover-color-base: $main-color;
$border-active-color-base: $main-color;
$border-width-base: 1px;
$border-style-base: solid;
$border-color-split: $gray-5;
$bg-main-color: #f4f5f6;
$bg-sub-color: $gray-7;
$bg-color: $white;
$bg-hover-color: $white;
$bg-active-color: $white;
$bg-component-color: $main-color;
$bg-component-hover-color: $main-hover-color;
$bg-component-active-color: $main-active-color;
$item-active-bg: $main-color;
$item-hover-bg: #eceffc;
$shadow-color: rgba($gray-4, 0.7);
$box-shadow: 0 5px 20px 0 $shadow-color;
$body-bg-color: $bg-main-color;
$module-bg-color: $bg-color;
$module-border-color: $border-color-base;
$module-title-bg-color: $bg-color;
$module-title-border-color: $border-color-base;
$status-error-color: #e62517;
$status-error-border-color: $status-error-color;
$status-error-bg-color: #ffeceb;
$status-warning-color: #ff950c;
$status-warning-border-color: $status-warning-color;
$status-warning-bg-color: #fdf0df;
$status-success-color: #36bf8f;
$status-success-border-color: $status-success-color;
$status-success-bg-color: #ebfff8;
$status-processing-color: #4a62e7;
$status-processing-border-color: $status-processing-color;
$status-processing-bg-color: #ebeeff;
$status-stop-color: #945eff;
$status-stop-border-color: $status-stop-color;
$status-stop-bg-color: #f7f2ff;
$status-invalid-color: #d8d8d8;
$status-invalid-border-color: $status-invalid-color;
$status-invalid-bg-color: $bg-main-color;
$status-other-color: #2b95ff;
$status-other-border-color: $status-other-color;
$status-other-bg-color: #e6f2ff;
$status-other-finish: #7cd322;
$status-other-wait: #ffbf00;
$disabled-color: #c0c5ca;
$disabled-bg: $bg-main-color;
$disabled-border: #ccd2d8;
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;
$border-radius-base: 2px;
$border-radius-sub: 4px;
$line-height-base: 1.5;

$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;

$space-tab: 36px;

$height-nav: 64px;
$height-xl: 48px;
$height-lg: 40px;
$height-md: 36px;
$height-sm: 32px;
$height-xs: 24px;

$helper-doc-bg: $white;

$header-height: 64px;
$logo-color: $white;
